*{	font-family: 
	'Open Sans', sans-serif;
	font-size:  15px;
}



.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.flex-row-reverse__h1 {
	width: 100px;
	height: 50px;
	background: yellow;
	margin: 5px;
}



.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-column__h1 {
	width: 100px;
	height: 50px;
	background: red;
	margin: 5px;
}



.flex-column-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.flex-column-reverse__h1 {
	width: 100px;
	height: 50px;
	background: green;
	margin: 5px;
}



.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.flex-wrap__h1 {
	width: 250px;
	height: 50px;
	background: blue;
	margin: 5px;
}



.flex-wrap-reverse {
	display: flex;
	flex-wrap: wrap-reverse;
}

.flex-wrap-reverse__h1 {
	width: 250px;
	height: 50px;
	background: pink;
	margin: 5px;
}



.flex-flow {
	display: flex;
	flex-flow: row-reverse wrap;
}

.flex-flow__h1 {
	width: 250px;
	height: 50px;
	background: lightblue;
	margin: 5px;
}



.justify-content-center {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.justify-content-center__h1 {
	width: 100px;
	height: 50px;
	background: darkred;
	margin: 5px;
}



.justify-content-space-around { 
	display: flex;
	justify-content: space-around;
}

.justify-content-space-around__h1 {
	width: 100px;
	height: 50px;
	background: greenyellow;
	margin: 5px;
}



.justify-content-space-between {
	display: flex;
	justify-content: space-between;
}

.justify-content-space-between__h1 {
	width: 100px;
	height: 50px;
	background: seagreen;
	margin: 5px;
}



.justify-content-space-evenly {
	display: flex;
	justify-content: space-evenly;
}

.justify-content-space-evenly__h1 {
	display: flex;
	width: 100px;
	height: 50px;
	background: yellowgreen;
	margin: 5px;
}



.aling-items-stretch{
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	flex-wrap: wrap;
	height: 500px;
}

.aling-items-stretch__h1{
	min-width: 100px;
	background: yellow;
	margin: 5px;
}



.aling-items-flex-start {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 500px;
}

.aling-items-flex-start__h1 {
	width: 100px;
	background: red;
	margin: 5px;
	height: 100px;
}



.aling-items-flex-end {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	flex-wrap: wrap;
	height: 500px;
}

.aling-items-flex-end__h1 {
	width: 100px;
	height: 100px;
	background: blueviolet;
	margin: 5px;
}



.aling-items-center {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	height: 300px;
}

.aling-items-center__h1 {
	width: 100px;
	height: 100px;
	background: lightskyblue;
	margin: 5px;
}



.aling-content-flex-start {
	display: flex;
	justify-content: space-evenly;
	align-content: flex-start;
	flex-wrap: wrap;
	height: 500px;
}

.aling-content-flex-start__h1 {
	background-color: lightgreen;
	min-width: 100px;
	height: 100px;
	margin: 5px;
	text-align: center;
}



.aling-content-center {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: wrap;
	height: 500px;
}

.aling-content-center__h1 {
	background-color: darkred;
	min-width: 100px;
	height: 100px;
	margin: 5px;
	text-align: center;
}



.aling-content-flex-end {
	display: flex;
	justify-content: space-evenly;
	align-content: flex-end;
	flex-wrap: wrap;
	height: 500px;
}

.aling-content-flex-end__h1 {
	background-color: hotpink;
	min-width: 100px;
	height: 100px;
	margin: 5px;
	text-align: center;
}


.aling-content-baseline {
	display: flex;
	justify-content: space-evenly;
	align-content: baseline;
	flex-wrap: wrap-reverse;
	height: 500px;
}

.aling-content-baseline__h1 {
	background-color: limegreen;
	min-width: 100px;
	height: 100px;
	margin: 5px;
	text-align: center;
}